*{
  margin: 0;
  padding: 0;
}
.container{
  background: linear-gradient(120deg, #2980b9, #6dd5fa, #ffffff);
  width: 100vw;
  height: 100vh;
}
.container>h1{
  text-align: center;
  font-size: 4rem;
}
.container .motivation_box{
  
  position: absolute;
  top: 6vh;
  left: 2vw;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  border-radius: 10px ;
}
.container .m_box{
  height: 15vh;
  width: 30vw;
  border-radius: 10px;
  border: 2px solid black;
  background-color:azure; 
}
.motivation_box>h1{
  text-align: center;
  color:#FFA500 ; 
}

.motivation_para{
  text-align: center;
  margin-top: 1vh;
}
.sticky_box {
  position: absolute;
  right: 2vw;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  height: 50vh;
  width: 50vw;
  background-color: azure;
  border-radius: 20px;
  border: 5px solid gray;
}
#sticky_btn{
  height: 1.5rem;
  width: 3rem;
   position: relative;
   bottom: 0.5rem;
   border-radius: 1rem;
   
}
#expand_btn{
  font-size: larger;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}



.sticky_box .sticky_notes{
  width: 100%;
  height: 45%;
  position: absolute;
  top: 4%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: auto;
  white-space: normal;
 } 
  /* background-color: #FFA500; */

 #sticky_text{
  position: absolute;
  bottom:  0;
  left: 0.25rem;
  border-radius: 20px;
}
#sticky_text>#sticky_btn{
  width: 3rem;
  height: 1.5rem;
  position: relative;
  bottom: 1vh;
  border-radius: 0.5rem;
}
.sticky_note{
  width: 17%;
  height: 95%;
  background-color: #ff6575;
  margin: 0 1% 1rem 1%;
  display: inline-block;
  border-radius: 0.5rem;
  padding: 0.2rem;
  overflow: scroll
 
}
#sticky_text textarea{
  border-radius: 1rem;
  padding: 0.2rem;
  resize: none;
}

#sticky_delete{
  background-color: inherit;
  border-radius: 0.5rem;
}
.sticky_note::-webkit-scrollbar {
  display: none;
}
.sticky_box .sticky_notes::-webkit-scrollbar {
  display: none;
}
 

/* message_box */

/* btn */
.chatbot_popup_btn{
  position: absolute;
  right: 2rem;
  bottom: 2rem;
}

.chatbot_popup_btn button{
  text-align: center;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;

}

.chatbot_popup_btn button i{
  font-size: 1.3rem;
  margin-top: 0.2rem;
}

.hide_btn{
  display: none;
}

.message_box{
  display: none;
  box-shadow: 1px 2px 3px #808080;
  border-radius: 1rem;
  position: absolute;
  right: 2rem;
  bottom: 1rem;
  /* height: 90vh;
  width: 30vw; */
  height: 0;
  width: 0;
  border:1px solid black ;
  transition: ease-out 2s;
  background: linear-gradient(120deg, #2980b9, #6dd5fa, #ffffff);
}

.show_box{
  display: inline;
  height: 90vh;
  width: 30vw;
  backdrop-filter: blur(10px);
}

#form {
   background: rgba(0, 0, 0, 0.15); 
   padding: 0.25rem; 
   position: fixed; 
   bottom:0; 
   width: inherit;
   display: flex; 
   height: 3rem; 
   box-sizing: border-box; 
   backdrop-filter: blur(10px); 
   border-radius: 0rem  0 1rem 1rem;
   margin: 0.01px;
  }
#input { 
  border: none; 
  padding: 0 1rem; 
 flex-grow: 1;  
  border-radius: 2rem; 
  margin: 0.25rem; 
}
#input:focus { 
  outline: none; 
}
#form > button { 
  background: #333; 
  border: none; 
  padding: 0 1rem; 
  margin: 0.25rem; 
  border-radius: 3px; 
  outline: none; 
  color: #fff; 
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  display: flex;
  flex-direction: column;
}

#messages > .Rmessage { 
  padding: 0.5rem 1rem;
  background-color: #efefef;; 
  border-radius: 0.5rem;
  width: 50%;
  align-self: end;
  margin: 0.5rem;
}




#messages > .Smessage { 
  padding: 0.5rem 1rem;
  background-color: gray;; 
  border-radius: 0.5rem;
  width: 50%;
  align-self: start;
  margin: 1rem;
}

 


